.banner {
  background-color: siteTheme('colors.slate-120');
  box-sizing: border-box;
  color: siteTheme('colors.white');
  font-family: siteTheme('fonts.families.primary');
  font-size: 14px;
  padding: 0.75em 1em;
  position: absolute;
  width: 100%;
}

.bannerContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1450px;
}

@media screen and (max-width: siteTheme('breakpoints.xxl')) {
  .bannerContent {
    align-items: flex-start;
    flex-direction: column;
  }
}

.controls {
  align-items: center;
  display: flex;
}

.dateLabel {
  margin-right: 0.5em;
}

.datePicker,
.resetButton {
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: siteTheme('fonts.families.primary');
  font-size: 14px;
  padding: 0.6em 0.8em;
}

.datePicker {
  background-color: siteTheme('colors.white');
  color: siteTheme('colors.black');
  font-family: siteTheme('fonts.families.primary');
}

.resetButton {
  background-color: siteTheme('colors.ocean');
  color: siteTheme('colors.white');
  font-family: siteTheme('fonts.families.primary');
  font-weight: bold;
  margin-left: 1em;
}
