.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.label {
  color: siteTheme('colors.slate-60');
  font-family: siteTheme('fonts.families.primary');
  font-size: 18px;
  left: 0.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
