.tooltipContainer {
  background-color: siteTheme('colors.ocean-40');
  border-radius: 4px;
  color: siteTheme('colors.ocean');
  font-family: siteTheme('fonts.families.primary');
  font-size: 14px;
  position: absolute;
  width: 100%;
  
  &::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid siteTheme('colors.ocean-40');
    content: '';
    height: 0;
    position: absolute;
    right: 2em;
    width: 0; 
  }
}

.tooltipContent {
  margin: 0.75em;
}

.dollarSign {
  font-weight: bold;
  line-height: 8px;
}

.amount {
  font-weight: bold;
}