.progressBarWrapper {
  background-color: siteTheme('colors.mint-40');
  border-radius: 4px 4px 0 0;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.progressBar {
  background-color: siteTheme('colors.mint');
  display: block;
  height: 10px;
  transition: width 0.4s ease;
}
