.moduleWrapper {
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: siteTheme('breakpoints.sm')) {
  .moduleWrapper {
    margin: 0 1em;
  }
}

.formContainer {
  background-color: siteTheme('colors.white');
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .1);
  max-width: 330px;
  padding: 25px;
  position: relative;
}

.heading {
  color: siteTheme('colors.slate-120');
  font-family: siteTheme('fonts.families.secondary');
  font-size: 22px;
  margin: 1rem 0 1rem 0;
  padding: 0;
}

.cta {
  color: siteTheme('colors.slate-80');
  font-family: siteTheme('fonts.families.primary');
  font-size: 14px;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  
  & > strong {
    color: siteTheme('colors.slate-120');
  }
}
