.form {
  margin-top: 2em;

  & > .formElementsWrapper {
    display: flex;
    width: 100%;
  }
}

.input {
  appearance: none;
  border-radius: 4px 0 0 4px;
  border-right: none;
  border: 1px solid siteTheme('colors.slate-40');
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding-left: 1.45em;
  width: 100%;

  &::placeholder {
    color: siteTheme('colors.slate-60');
    vertical-align: middle;
  }
}

.submitButton {
  appearance: none;
  background-color: siteTheme('colors.mint');
  border-radius: 0 4px 4px 0;
  border: 1px solid siteTheme('colors.mint');
  color: siteTheme('colors.white');
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0.75rem;
  transition: all 0.1s ease;
  
  &:hover {
    background-color: siteTheme('colors.mint-120');
    border-color: siteTheme('colors.mint-120');
  }
}


.errorMessage,
.successMessage {
  display: block;
  font-family: siteTheme('fonts.families.primary');
  font-size: 14px;
  margin-top: 10px;
}

.errorMessage {
  color: siteTheme('colors.strawberry');
}

.successMessage {
  color: siteTheme('colors.mint');
}
